.jumbotron {
  text-align: center;
  font-size: 100px;
  margin: auto;
  padding: 30;
  border:solid;
  color: rgb(235, 60, 182);
  background-color: antiquewhite;
}
#roundScore {    
  text-align: center;
  background-color: antiquewhite;
  color: rgb(235, 60, 182);
  border-width: 15px; 
  border-color: deeppink;
  padding: 2cm;
  margin-top: 20px;
  border-radius: 50%;
  border-style:double;

} 
button#roll {
  margin: auto;
  width: 50vw;
  margin-bottom: 10px;
  text-align: center;
  background-color: burlywood;
  color: rgb(162, 88, 231);
   box-shadow:0 8px 16px rgb(236, 64, 222) ;
  display: block;
}
button#hold {
  margin: auto;
  width: 50vw;
 text-align: center;
  background-color: burlywood;
  color: rgb(162, 88, 231);
  box-shadow:0 8px 16px rgb(236, 64, 222) ;
  display: block;
  margin-top: 15px ;
}
h1 {
  text-align: center;
  color: blueviolet;
}


body {
  text-align: center;
  color: blueviolet;
}
#currentPlayer{
  font-size: xx-large;
}

h1 {
  text-decoration: underline; 
  width: 45vw;
  margin: auto;
  margin-top: 15px;
}

.score2{
  font-size: xx-large;
}

.score1{
  font-size: xx-large;
}
body{
  background-color: rgb(140, 233, 117);
}